@model prjCramSchoolSystemUser.ViewModel.CCourseViewModel

@{
    if (!string.IsNullOrEmpty(Model.course.FEchelonId))
    {
        ViewData["Title"] = Model.course.FCourse.FName;
    }
    else
    {
        ViewData["Title"] = "Detail";
    }
}
@section Styles{
    <style>
        .coverimg {
            border: 2px green dashed;
        }

        #table_title {
            color: #111111;
            font-weight: 600;
            text-transform: uppercase;
            /*border-bottom: 1px solid #e1e1e1;*/
            padding-top: 15px;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
    </style>
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>課程詳情</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="@Url.Content("~/")">首頁</a>
                    <a href="@Url.Content("~/Course/List")">開課資訊</a>
                    <span>課程詳情</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<form asp-action="Edit" class="product-details spad form-inline" enctype="multipart/form-data" style="padding-top:50px;">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container" id="product_imgs">
        <div class="row">
            <div class="container">
                <!-- Blog Section Begin -->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="">
                            @*blog__item*@
                            @{
                                string imgPath = Model.courseimg;
                                if (imgPath == "NullImg.jpg")
                                {
                                    imgPath = Url.Content("~/images/NullImg.jpg");
                                }
                                <div class="blog__item__pic set-bg">
                                    <img class="blog__item__pic set-bg uploadImg" src="@imgPath" style="width: 100%; height: 100%; object-fit: cover; " />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <input type="hidden" asp-for="@Model.course.FEchelonId" id="fEchelonId" />
                        <input type="hidden" asp-for="@Model.course.FName" id="fName" />
                        <div class="product__details__text">
                            <div class="product__label" style="border-width: 1px; border-style: solid; border-color: #5599FF; padding: 5px; background-color: #FFFFFF; color: #5599FF; ">@Html.DisplayFor(model => model.ClassState)</div>
                            <h4 style="margin-bottom: 10px; margin-top: 10px;">@Html.DisplayFor(model => model.course.FCourse.FName)</h4>
                            @{
                                string originalprice = "";
                                if (Model.course.FCourse.FOriginalPrice != null)
                                {
                                    originalprice = String.Format("{0:0,0}", (decimal)Model.course.FCourse.FOriginalPrice);
                                }
                                DateTime _starttime = Convert.ToDateTime(Model.course.FStartTime);
                                string StartTime = _starttime.ToString("yyyy") + "年" + _starttime.ToString("MM") + "月" + _starttime.ToString("dd") + "日";
                                DateTime _endtime = Convert.ToDateTime(Model.course.FEndTime);
                                string EndTime = _endtime.ToString("yyyy") + "年" + _endtime.ToString("MM") + "月" + _endtime.ToString("dd") + "日";
                                //特價
                                if (Model.course.FDiscountDate >= DateTime.Now)
                                {
                                    <h5 style="text-decoration: line-through; border-bottom:none; padding-bottom:0px; margin-bottom:5px;">$@originalprice</h5>
                                    <h5 style="border-bottom: none; padding-bottom: 0px; margin-bottom: 5px; ">$@Model.Price</h5>
                                    @*<ul style="padding-bottom: 0px; margin-bottom: 5px;">
                                            <li>優惠價錢至<span>@Model.DiscountDate</span></li>
                                        </ul>*@
                                }
                                //原價
                                else
                                {
                                    <h5 style="border-bottom: none; padding-bottom: 0px; margin-bottom: 5px;">$@Model.Price</h5>
                                }
                            }
                            <ul style="padding-bottom: 0px; margin-bottom: 5px;padding-top:0px;margin-top:5px;">
                                @{
                                    if (Model.course.FDiscountDate >= DateTime.Now)
                                    {
                                        <li>優惠價錢至<span>@Model.DiscountDate</span></li>
                                    }
                                }
                                <li>授課年級:<span style="padding-left:6px;">@Html.DisplayFor(model => model.course.FCourse.FGrade)</span><span style="padding-left:6px;">@Model.SchoolYear</span><span>學期</span></li>
                                @*<li>學期:<span style="padding-left:6px;">@Model.SchoolYear</span></li>*@
                                <li>課程堂數:<span style="padding-left:6px;">@Html.DisplayFor(model => model.course.FCourse.FTotalNumber)</span></li>
                                <li>課程總時數:<span style="padding-left:6px;">@Html.DisplayFor(model => model.course.FCourse.FTotalHours)</span></li>
                                <li>開班日期:<span style="padding-left:6px;">@StartTime</span>&nbsp;~&nbsp;<span>@EndTime</span></li>
                                <li>上課時間:<span style="padding-left:6px;">@Html.DisplayFor(model => model.course.FTime)</span></li>
                                <li>授課老師:<span style="padding-left:6px;">@Html.DisplayFor(model => model.course.FTeacher)</span></li>
                            </ul>
                            <button id="addCart" type="button" class="btn" style="text-align: center; border-width: 1px; border-style: solid; border-color: #5599FF; background-color: #FFFFFF; color: #5599FF; "><h5 style="border-bottom: none; padding-bottom: 0px; margin-bottom: 5px; color: #5599FF;"><i class="fa-solid fa-cart-shopping"></i>&nbsp;&nbsp;加入購物車</h5></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Section End -->
            <div class="col-lg-12" style="padding-top:20px;">
                <h5 id="table_title">課程大綱</h5>
                <div class="product__details__text">
                    <p>
                        @Html.DisplayFor(model => model.course.FCourse.FSummary)
                    </p>
                </div>
            </div>
            @{
                if (Model.Detail_List != null && Model.Detail_List.Count > 0)
                {
                    <div class="col-lg-12" style="padding-bottom: 20px;">
                        <h5 id="table_title">課程細項</h5>
                        <table class="table table-hover" style="border-style: none;">
                            <thead>
                                <tr>
                                    <th scope="col">課堂數</th>
                                    <th scope="col">課堂進度(頁數)</th>
                                    <th scope="col">課程進度說明</th>
                                    <th scope="col">授課方式</th>
                                    <th scope="col">說明</th>
                                </tr>
                            </thead>
                            <tbody id="tbody_Detail">
                                @foreach (var item in Model.Detail_List)
                                {

                                    <tr>
                                        <th scope="row">@item.FCourseNumber</th>
                                        <td>@item.FSchedule</td>
                                        <td>@item.FScheduleDetail</td>
                                        <td>@item.FTeachingMethod</td>
                                        <td>@item.FRemark</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        </div>
    </div>
</form>

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script>
        $("#addCart").click(async function () {
            //let EchelonId = document.getElementById("fEchelonId");
            let EchelonId = $("#fEchelonId").val();
            console.log(EchelonId);
            let response = await fetch("@Url.Content("~/Course/AddShoppinCat")" + `?fEchelonId=${EchelonId}`);
            //toastr["success"]("商品已加入購物車！");
            toastr.options = {
                onclick: function () {
                    window.location.href = "@Url.Content("~/Shopping/Shoppingcart")";
                }
            }
            //toastr.success("success");
            toastr.success("課程已加入購物車！");
            //toastr.options = { onclick: function () { alert("You clicked Me!"); } }

        })
    </script>
}