@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "二階段驗證";
}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>@ViewData["Title"]</h2>
                    <h5>您的登入已受二階段驗證app保護，請於下方輸入二階段驗證碼。</h5>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a asp-area="" asp-controller="Home" asp-action="Index">首頁</a>
                    <span>@ViewData["Title"]</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<hr />
<section class="manage">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                    <input asp-for="RememberMe" type="hidden" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.TwoFactorCode"></label>
                        <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMachine">
                                <input asp-for="Input.RememberMachine" />
                                @Html.DisplayNameFor(m => m.Input.RememberMachine)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                </form>
            </div>
        </div>
        <p>
            無法使用二階段驗證？您可以
            <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">使用備用碼進行登入</a>。
        </p>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
